body {
    margin: auto;
}

header {
    width: 100%;
    background: url("./images/top_background.jpg");
    height: 500px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.home {
    font-size: 12px;
    text-align: center;
    font-family: 'Oxygen';
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 0.6px;
    padding: 0 20px;
    color: rgba(255, 255, 255, 1);;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;

}

.intro-title {
    font-size: 50px;
    text-align: center;
    font-family: 'Lora';
    color: rgba(255, 255, 255, 1);
    line-height: 51px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.intro-under {
    font-size: 17px;
    text-align: center;
    font-family: 'Oxygen';
    color: rgba(255, 255, 255, 0.63);
    line-height: 20px;
    margin-bottom: 40px;
}

.button {
    font-size: 13px;
    font-family: 'Oxygen';
    color: rgba(255, 255, 255, 1);
    background-color: rgba(221, 120, 63, 1);
    text-decoration: none;
    display: inline-block;
    width: 167px;
    text-align: center;
    line-height: 44px;
    border-radius: 3px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 65px;
}

.section {
    font-size: 14px;
    text-align: center;
    font-family: 'Lora';
    line-height: 20px;
    color: rgba(118, 128, 136, 1);
    text-decoration: none;
}

.footer {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: url("./images/background.jpeg");
    margin: 0 auto;
}


.footnav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.foot_home {
    font-size: 12px;
    text-align: center;
    font-family: 'Oxygen';
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 0.6px;
    padding: 0 20px;
    color:rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

