.header{
    width: 1440px;
    height: 74px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.header_logo{
    font-family: 'Lora';
    color: #2E2E2E;
    font-size: 26px;
    line-height: 26px;
}

.topnav{
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Oxygen';
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    line-height: 20px;
    align-items: center;
}

.home{
    padding: 0 20px;
    color: #2E2E2E;
    text-decoration: none;
}

.intro{
    width: 940px;
    height: 159px;
    top: 163px;
    left: 250px;
    background: #ffffff;
    display: flex;
    margin: 0 auto;
}
.intro-title{
    font-family: 'Lora', serif;
    color: #2E2E2E;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 51px;
    top: 156px;
    margin-left: 221px;
    width: 498px;
    height: 51px;
    text-align: center;
    position: absolute;
}

.intro-under {
    font-family: 'Oxygen', sans-serif;
    color: rgba(46, 46, 46, 0.63);
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin-top: 180px;
    margin-left: 218px;
    width: 504px;
    height: 20px;
    text-align: center;
    position: absolute;
}

img{
    width: 1440px;
    height: 534px;
    margin-top: 360px;
    border-radius: 3px;
}
section{
    width: 1440px;
    height: 1706px;
    top: 894px;
    background: #ffffff;
    display: flex;
}
.text{
    width: 960px;
    height: 1431px;
    margin-top: 140px;
    margin-left: 240px;
    background: #ffffff;
    font-family: 'Oxygen', sans-serif;
    color: #101315;
    font-weight: 400;
    font-size: 24px;
    position: absolute;
    line-height: 35px;
    margin-bottom: 10em;
}
footer{
    width: 1440px;
    height: 89px;
    top: 2600px;
    background: rgba(35, 47, 56, 0.6);
    background: url("img2.png");
    display: flex;
}

.foot_logo{
    font-family: 'Lora', serif;
    color: #FFFFFF;
    width: 92px;
    height: 26px;
    font-weight: 400;
    font-size: 26px;
    margin-left: 250px;
    line-height: 26px;
    position: absolute;
}
.footnav{
    width: 376.61px;
    height: 32px;
    left: 563.39px;
    font-family: 'Oxygen', sans-serif;
    color:rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 1px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.foot_home{
    width: 37px;
    height: 26px;
    margin-top: 50px;
    margin-left: 20px;
}
.foot_categories{
    width: 76px;
    height: 26px;
    margin-top: 50px;
    margin-left: 20px;
}
.foot_about{
    width: 42px;
    height: 26px;
    margin-top: 50px;
    margin-left: 20px;
}
.foot_contact{
    width: 57px;
    height: 26px;
    margin-top: 50px;
    margin-left: 20px;
}